:root {
  --primary: #8B5CF6;
  --secondary: #10B981;
  --tertiary: #EF4444;
  --accent: #A078FF;
  --bg: #09090B;
  --bg-container: #18181B;
  --color-text: #E5E1E4;
  --color-text-variant: #C7BFD2;
  --border-color: #958E9F;
  --border-color-error: #3D2828;
  --color-icon-error: #FFB4AB;
  --color-icon-susses: #4EDEA3;

}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

